# Ambientes Virtuais
venv/
.venv/
env/
.env/

# Pastas de distribuição e build
.dist/
build/
dist/
*.egg-info/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de IDEs
.vscode/
.idea/

08_POO/
09_Projetos/